body {
    background-image: url('images/waves.png'); 
    padding: 10px
    
}
.container{
    border: 5px solid brown;
    background-color: rgb(246, 212,212);
}
.movie{
    border: 5px solid brown;
    background-color: white;
    margin-top: 10px;
    margin-bottom:10px;
    margin: 10px;
    padding: 10px
    
}
header{
    padding: 10px;
    
}
footer{
    margin: 10px
}
